.orangered{color: orangered;}
nav{display: flex;
justify-content: space-between;
margin: 20px 100px;

}
.nav-title{ font-weight: 800;
font-size: 45px;
}
nav li{ list-style: none;
margin-left: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}
.btn-primary{ height: 64px;
    border: none;
    font-weight: 700;
    font-size: 20PX;
    color: antiquewhite;
    padding: 18PX 35PX;
    border-radius: 5px;
    background-color: orangered;

}
.banner{ margin: 0px 200px;
         display: flex;
         align-items: center;
}
.banner-title{ 
    font-weight: 600px;
    font-size: 45px;
    margin-bottom: 30px;
}
.banner-sub-title{
    font-weight: 700px;
    font-size: 85px; 
    margin-bottom: 20px; 
}
.banner-description{
    color:gray;
    font-size: 18px;
    margin-bottom: 30px;   
}
.header{ background-color: #f5c7a6 ;
        background-image: url(../portfolio-images/ash-edmonds-0aWZdK8nK2I-unsplash.jpg);
}

main{ max-width: 1140px;
      margin: 0px auto;
      
}
/* about section styles */

.about{ margin-top: 130px;
        text-align: center;
        border-radius: 10px;
        padding: 130px 150px ;
        background: #FFF8F3;

}
.section-title{ text-align: center;
                margin-bottom: 100px;
      font-weight: 700;
      font-size: 35px;
}
.section-description{ color: #1a1919 ;
      font-size: 18px;
      margin-bottom: 30px;                
}
/* about section styles */

.about-info-container{display: flex;
      justify-content: space-around;

}
.about .info-title{
    font-size: 20px;
    color: #474747;
}
.info-description{ 
    font-weight: 700;
    font-size: 20px;
    color: #474747;

}
.what-i-do { margin-top: 130PX;
    

}
.skills-container{ display: flex;
        gap: 24px;

}


.skill-title{font-weight: 700;
font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.skill-description{
    color: #757575;
    


}
.skill{background: #FFFFFF;
    box-shadow: 0PX 6PX 50PX rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}
/* resume section */
.resume{margin-top: 130px;}

.resume-content{ display: flex;
                 gap: 24px;

}
.resume-item{ margin-top: 30px;
              margin-bottom: 30px;
}

.resume .title{ font-size:25px ;
            font-weight: 700;
            color: #474747;
            margin-bottom: 10px;

}



.resume .sub-title{ color: #757575;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;

}




.resume .description{ color: #757575;

}
.resume-btn{margin-top: 50px;
            text-align: center;

}









